[user]
	signingkey = {{.signingkey}}
	email = {{.email}}
	name = {{.full_name}}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	pager = less
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED
[difftool]
  prompt = false
[diff]
	tool = difft
	external = difft
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[http]
	sslVerify = false
[init]
	defaultBranch = main
[alias]
	d = difftool
