{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $full_name := promptStringOnce . "full_name" "Full Name to use in gitconfig" -}}

[data]
    email = {{ $email | quote }}
    full_name = {{ $full_name | quote }}

[git]
    autoCommit = true
    autoPush = true

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

